<!--  how to use css in python_ flask-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <head><meta http-equiv="Content-Type" content="text/plain; charset=utf-8"/></head>
    <title>Home</title>
    <!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <div class="body">

    <div class="downL">
      Video 
      <!-- <div id="video-container">
        <img id="video-frame" src="{{ url_for('video_feed') }}" width="100%">
        <img id="overlay-image" src="/static/forward.png">
      </div>
      
      <script>
          function reloadImage() {
              var img = document.getElementById("video-frame");
              img.src = "{{ url_for('video_feed') }}?rand=" + Math.random();
          setInterval(reloadImage, 25000); // Reload the image every 8 second
          }
      </script> -->
      <div id="video-container">
        <img id="myImage" src="" alt="Image", width = 100%>
        <img id="overlay-image" src="/static/forward.png">
      </div>
      <p id="direction"></p>
      AHHHHHHHHHHHHHHHHHHHH
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            const imgElement = document.getElementById('myImage');
            const directionElement = document.getElementById('direction');

            function fetchBase64Image() {
              fetch('/data_feed')
                .then(response => response.json())
                .then(base64Image => {
                  imgElement.src = 'data:image;base64,' + base64Image.frames;
                  directionElement.textContent = 'Direction: ' + base64Image.direction;

                  console.log('data:image;base64,' + base64Image.frames);
                })
                .catch(error => {
                  console.error('Error fetching base64 image:', error);
                });
            }

            fetchBase64Image();

            setInterval(fetchBase64Image, 10);
          });
        </script>
    </div>

    <div class="downR">
      Log<br>
      <iframe id="log" src="/static/logFile.html" width="800" height="500" type="html/text" style="margin-top: 15px;">
        Not supported
      </iframe>
      <script>
        setInterval(() => {
          let logFrame = document.getElementById("log");
          
          fetch('/static/logFile.html')
            .then(response => response.text())
            .then(text => {
              text = text.trim() + '\n';
              text = text.replace(/\n/g, '<br>');
              logFrame.contentDocument.body.innerHTML = text;
              logFrame.contentWindow.scrollTo(0, logFrame.contentDocument.body.scrollHeight);
            });
        }, 200);
      </script>
    </div>
  </div>
</html>