<!--  how to use css in python_ flask-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <head><meta http-equiv="Content-Type" content="text/plain; charset=utf-8"/></head>
    <title>Home</title>
    <!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <div class="body">
    <!-- <div class="topR">
      Non Edited Photos
      <img id = "NonEdited" src ="{{ url_for('image', img = 'codeFiles/roadPictures/gitHubPhoto1.jpg') }}", width="100%">
      <img id = "NonEdited2" src ="{{ url_for('image', img = 'codeFiles/roadPictures/gitHubPhoto2.jpg') }}", width="100%">
      <img id = "NonEdited3" src ="{{ url_for('image', img = 'codeFiles/roadPictures/gitHubPhoto3.jpg') }}", width="100%">
    </div>

    <div class="topL">
      Edited Photos
      <img id = "Edited" src ="{{ url_for('imaging', image = 'codeFiles/roadPictures/gitHubPhoto1.jpg') }}", width="100%">
      <img id = "Edited2" src ="{{ url_for('imaging', image = 'codeFiles/roadPictures/gitHubPhoto2.jpg') }}", width="100%">
      <img id = "Edited3" src ="{{ url_for('imaging', image = 'codeFiles/roadPictures/gitHubPhoto3.jpg') }}", width="100%">
    </div> -->

    <div class="downL">
      Straight Line Video 
      <div id="video-container">
        <img id="video-frame" src="{{ url_for('video_feed') }}" width="100%">
      </div>
      
      <script>
          function reloadImage() {
              var img = document.getElementById("video-frame");
              img.src = "{{ url_for('video_feed') }}?rand=" + Math.random();
          }
      
          setInterval(reloadImage, 8000); // Reload the image every 8 second
      </script>
    </div>

    <div class="downR">
      Log<br>
      <iframe id="log" src="/static/logFile.html" width="800" height="500" type="html/text" style="margin-top: 15px;">
        Not supported
      </iframe>
      <script>
        setInterval(() => {
          let logFrame = document.getElementById("log");
          
          fetch('/static/logFile.html')
            .then(response => response.text())
            .then(text => {
              text = text.trim() + '\n';
              text = text.replace(/\n/g, '<br>');
              logFrame.contentDocument.body.innerHTML = text;
              logFrame.contentWindow.scrollTo(0, logFrame.contentDocument.body.scrollHeight);
            });
        }, 200);
      </script>
    </div>
  </div>
</html>