<!DOCTYPE html>
<html>
<head>
  <title>Display Data</title>
</head>
<body>
  <img id="myImage" src="" alt="Image">
  <p id="direction"></p>
    AHHHHHHHHHHHHHHHHHHHH
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const imgElement = document.getElementById('myImage');
      const directionElement = document.getElementById('direction');

      function fetchBase64Image() {
        data:image;base64,
        fetch('/data_feed')
          .then(response => response.json())
          .then(base64Image => {
            imgElement.src = 'data:image/png;base64,' + base64Image.frames;
            directionElement.textContent = 'Direction: ' + base64Image.direction;

            data:image;base64,

            console.log('data:image/png;base64,' + base64Image.frames);
          })
          .catch(error => {
            console.error('Error fetching base64 image:', error);
          });
      }

      fetchBase64Image();

      setInterval(fetchBase64Image, 1000);
    });
  </script>
</body>
</html>