<!--  how to use css in python_ flask-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <head><meta http-equiv="Content-Type" content="text/plain; charset=utf-8"/></head>
    <title>Home</title>
    <!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <div class="body">
    <div class="topR">
      Section 1
      <p style="font-size: 30px">ok but imagine</p>
    </div>

    <div class="topL">
      Section 2
      <p style="font-size: 15px">different font size pog</p>
      real
    </div>

    <div class="downL">
      Section 3
      <button onclick="forward()">Forward</button>
      <script>
        function forward() {
          fetch("forward")
            .then((response) => response.json())
            .then((data) => console.log(data));
        }
      </script>

      <button onclick="backward()">Backward</button>
      <script>
        function backward() {
          fetch("backward")
            .then((response) => response.json())
            .then((data) => console.log(data));
        }
      </script>

      <button onclick="right()">Right</button>
      <script>
        function right() {
          fetch("right")
            .then((response) => response.json())
            .then((data) => console.log(data));
        }
      </script>

      <button onclick="left()">Left</button>
      <script>
        function left() {
          fetch("left")
            .then((response) => response.json())
            .then((data) => console.log(data));
        }
      </script>

      <button onclick="funny()">Other</button>
      <script>
        function funny() {
          fetch("forward");
          fetch("right");
          fetch("forward");
          fetch("left")
            .then((response) => response.json())
            .then((data) => console.log(data));
        }
      </script>
    </div>

    <div class="downR">
      Section 4<br>
      <iframe id="log" src="/static/logFile.html" width="800" height="500" type="html/text" style="margin-top: 15px;">
        Not supported
      </iframe>
      <script>
        setInterval(() => {
          let logFrame = document.getElementById("log");
          
          fetch('/static/logFile.html')
            .then(response => response.text())
            .then(text => {
              text = text.trim() + '\n';
              text = text.replace(/\n/g, '<br>');
              logFrame.contentDocument.body.innerHTML = text;
              logFrame.contentWindow.scrollTo(0, logFrame.contentDocument.body.scrollHeight);
            });
        }, 200);
      </script>
    </div>
  </div>
</html>
