<!--  how to use css in python_ flask-->
<!DOCTYPE html>
<html lang="en">
<head>
<!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href='/static/main.css' />
 
</head>
  <body>
    <topL>Section 1
      <p style = "font-size:30px;">ok but imagine</p>
    </topL>
    <topR>Section 2
      <p style = "font-size:15px;">different font size pog</p>
      real
    </topR>
    <downL>Section 3
      <p style = "font-size:50px;">ywy</p>
    </downL>
    <downR>Section 4
      <p style = "font-size:20px;">yippe</p>
    </downR>
  </body>
</html>